
.leaflet-container {
  height: 100vh;
  width: 100%;
}



.App {
  text-align: center;
}

.App-logo {
  position: relative;
  margin: 0.5em;
  height: 40vmin;
}

.App-header {
  background-color: #00203F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

